@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <form action="/day" method="post">
    <div class="form-group">
      <label for="day">Please enter the date</label>
      <input id="date" name="date" type="date" />
    </div>

    <button type="submit">Find the Day</button>
  </form>
  <div id="result">
  </div>
</div>
